*,
*::after,
*::before {
  /* Making sure there is no inherit margin or padding added to any elements. */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* Creating pre-made color codes that will work with the rgb function. */
  --platinum: 221, 221, 223;
  --thistle: 208, 196, 223;
  --plum: 220, 171, 223;
  --wisteria: 199, 146, 223;
}
body {
  /* Giving the body a light-grey background */
  background-color: rgb(var(--platinum));
}

/* 
----------------------------------------------------------
HEADER AREA
----------------------------------------------------------
 */

header {
  /* Creating space around my header. */
  padding: 3em 2em 0 2em;
  /* Giving my header structure with the grid value */
  display: grid;
  gap: 1em;
  grid-template-rows: auto;
}

.nameTitle {
  /* Setting up the grid area for my name. */
  display: grid;
  width: fit-content;
  margin: 0 auto;
  /* Setting a perfect square for my letters to reside in. */
  grid-template-columns: repeat(6, 50px);
  grid-template-rows: repeat(6, 50px);
  grid-template-areas:
  /* Being creative with where I put my letters. */
    ". . letter-m letter-o . letter-n"
    "letter-r . letter-o2 . . ."
    ". . letter-n2 . letter-e ."
    "letter-s letter-t . . . ."
    ". letter-e2 letter-w . . ."
    ". . letter-a . letter-r2 letter-t2";
  /* This font is from Google Fonts. */
  font-family: "Rammetto One", sans-serif;
  border: rgba(var(--wisteria)) solid 10px;
  transition: color 750ms 200ms;
}

.nameLetter {
  /* Styling the letters in grid. */
  font-size: 2.5em;
  text-align: center;
  /* Creating a transition for both the color and movement of letters. */
  transition: color 300ms, transform 750ms;
}

/* Putting all letters of my name into the grid area. */
#letter-m {
  grid-area: letter-m;
  margin-top: -30px;
}
#letter-o {
  grid-area: letter-o;
  margin-top: -30px;
}
#letter-n {
  grid-area: letter-n;
  margin-top: -30px;
}
#letter-r {
  grid-area: letter-r;
  margin-left: -40px;
}
#letter-o2 {
  grid-area: letter-o2;
}
#letter-n2 {
  grid-area: letter-n2;
}
#letter-e {
  grid-area: letter-e;
}

#letter-s {
  grid-area: letter-s;
}
#letter-t {
  grid-area: letter-t;
}

#letter-e2 {
  grid-area: letter-e2;
}
#letter-w {
  grid-area: letter-w;
}
/* This will highlight the last three letters in my name. */
#letter-a {
  grid-area: letter-a;
  color: red;
}
#letter-r2 {
  grid-area: letter-r2;
  color: red;
}
#letter-t2 {
  grid-area: letter-t2;
  color: red;
  margin-right: -70px;
  transform: translateY(5px) rotate(45deg);
}

/* Letter changes when hovered over. */
.nameLetter:hover {
  color: rgb(252, 181, 0);
}

/* Having specific letters move to create new words. */
.nameTitle:hover #letter-m {
  transform: translateX(-1.2em);
}
.nameTitle:hover #letter-n2 {
  transform: translateY(2.5em);
  color: blue;
}
.nameTitle:hover #letter-w {
  transform: translateX(3.2em);
  color: blue;
}
.nameTitle:hover #letter-e2 {
  transform: translateX(2.8em);
  color: blue;
}
.nameTitle:hover #letter-s {
  transform: translateY(2.5em);
  color: red;
}
.nameTitle:hover #letter-t {
  transform: translateY(2.5em);
  color: red;
}
.nameTitle:hover #letter-a {
  transform: translateX(0.5em);
}
/* An image of myself */
.myImage {
  margin: 0 auto;
  width: 320px;
  border: 10px rgba(var(--wisteria)) solid;
}
/* Giving the image a set value so it is inline with my logo. */
.myImage img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
nav {
  /* A navigation bar that has links to other areas of my site. */
  width: 320px;
  padding: 20px;
  margin: 0 auto;
  background-color: rgba(var(--thistle));
  /* Another Google Font to make the font standout.  */
  font-family: "Vina Sans", sans-serif;
  font-size: 28px;
}

.nav-list {
  /* Removing the bullet points from my navigation links. */
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.nav-items {
  transition: all;
}
.nav-items:hover {
  /* Creating a bouncing type animation. */
  animation: bounce 1s ease-in infinite;
}
.nav-links {
  /* Styling my links. */
  cursor: pointer;
  text-decoration: none;
  color: #000;
  transition: color 300ms;
}
.nav-links:hover {
  /* Font of links switch to white once hovered over. */
  color: #fff;
}

@keyframes bounce {
  /* This property animates the links to 'bounce' when hovered over. */
  50% {
    translate: 0 -10px;
  }
  60% {
    translate: 0 -10px;
  }
  90% {
    translate: 0 5px;
  }
}

@media screen and (min-width: 730px) {
  header {
    /* Changing my grid layout, responding to the screen width. */
    grid-template-columns: min-content 1fr min-content;
    grid-template-areas:
      "nameTitle spaceBox myImage"
      "nav nav nav";
  }
  .nameTitle {
    margin: 0;
  }
  .myImage {
    margin: 0;
  }
  .spaceBox {
    /* Creating an empty coloured area that responds to screen width.  */
    background-color: rgba(var(--thistle));
    grid-area: spaceBox;
  }
  nav {
    grid-area: nav;
    margin: 0;
    width: auto;
  }
  .nav-list {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1048px) {
  header {
    grid-template-columns: min-content 1fr min-content 1.5fr;
    grid-template-areas: "nameTitle spaceBox myImage nav";
  }
  nav {
    /* Once the screen is wide enough, my nav bar will turn sideways. */
    writing-mode: vertical-rl;
    width: auto;
  }
  .nav-list {
    display: block;
  }
}
